services:
    mongodb:
        container_name: go-cvedict-mongodb
        image: mongodb/mongodb-community-server:latest
        ports:
        - "27017:27017"
        expose:
        - 27017
        volumes:
        - mongodb_data:/data/db
        restart: always
        healthcheck:
            test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
            interval: 5s
            timeout: 5s
            retries: 5
    go-cvedict:
        container_name: go-cvedict
        build: .
        ports:
        - "8080:8080"
        depends_on:
            mongodb:
                condition: service_healthy
        links:
            - mongodb
        environment:
            MONGO_HOST: mongodb
            MONGO_PORT: 27017
            NOTIFIER_URL:
            NVD_KEY:
        restart: always
        # command: sh -c "/go/cvedict --address=$${MONGO_HOST} --port=$${MONGO_PORT} fetch && /go/cvedict --address=$${MONGO_HOST} --port=$${MONGO_PORT} server --notifer=$${NOTIFIER_URL}"

volumes:
    mongodb_data: